*{margin:0;padding:0;box-sizing:border-box}body{background:#050505;color:#fff;font-family:Poppins,sans-serif}::-webkit-scrollbar{width:0px;height:0px}html{scrollbar-width:none;scroll-behavior:smooth}body{-ms-overflow-style:none}
