* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #050505;
  color: white;
  font-family: "Poppins", sans-serif;
}

body {
  cursor: url("/cursor/gold-cursor.svg") 4 2, auto;
}

/* Hide Scrollbar but allow scrolling */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

/* IE/Old Edge */
body {
  -ms-overflow-style: none;
}